<div class="dark-mode-switch">
  <a class="action" id="darkModeSwitch">
    <b class="d-light-none">☀️</b>
    <b class="d-dark-none">🌜</b>
  </a>
</div>

<style lang="scss">
  .action {
    cursor: pointer;
  }
</style>
