---
// All images
import downloadIconImg from "@assets/img/installer/download.svg";
import externalLinkIconImg from "@assets/img/symbols/external-link.svg";
import appleLogoImg from "@assets/img/installer/apple.svg";
import windowsLogoImg from "@assets/img/installer/windows.svg";
import appimageLogoImg from "@assets/img/installer/appimages.svg";
import debLogoImg from "@assets/img/installer/deb.svg";
import snapLogoImg from "@assets/img/installer/snap.svg";

const { instructions } = Astro.props;
---

<!-- Installer -->
<div id="installerDownload" class="scrollspy banner-grey port installer">
  <h2 class="mb-2 mb-3" title="Guidelines to install Linux phone">
    How to install Ubuntu Touch OS
  </h2>
  <p>
    You can install Ubuntu Touch on this device using the UBports Installer on
    your computer.
  </p>

  {
    !!instructions?.unlock.length || !!instructions?.prerequisites.length ? (
      <>
        <p>
          Make sure your device is unlocked and the required Android version is
          installed, follow the device-specific instructions below:
        </p>
        <ol class="ps-4">
          {[]
            .concat(instructions.unlock, instructions.prerequisites)
            .map((i) => (
              <li>
                <span>{i.description}</span>
                {i?.link && (
                  <a href={i.link} target="_blank">
                    <img
                      class="dark-invert-40 h-1em d-inline ms-2"
                      src={externalLinkIconImg}
                      alt="download-icon"
                    />
                  </a>
                )}
              </li>
            ))}
        </ol>
      </>
    ) : (
      <>
        <p>
          <span class="bold">
            Unless device specific instructions are provided
          </span>
          by the porter, please follow these general steps:
        </p>
        <ol class="ps-4">
          <li>
            Unlock the bootloader, please search the internet for instructions
          </li>
          <li>Install the required Android/stock rom version ¹</li>
          <li>Select the appropriate installer package for your computer</li>
          <li>Plug in your device and follow the on-screen instructions</li>
          <li>The installer will take it from there</li>
        </ol>
        <p>
          ¹ Devices generally require a specific version of Android/stock rom to
          be installed. This depends on the halium version the port is build on.
          For example, if the port is based on halium 9, make sure you have
          Android version 9 installed
          <span class="text-orange"> before running the installer</span>.
        </p>
      </>
    )
  }

  {
    !!instructions?.downloads.length && (
      <>
        <p>
          You will also need to download manually some files specific for your
          port depending on the type of your install:
        </p>
        <ol class="ps-4">
          {instructions.downloads.map((file) => (
            <li>
              <a href={file.url} class="underline" target="_blank">
                {file.name}
              </a>
            </li>
          ))}
        </ol>
      </>
    )
  }

  <h3 class="mt-5">Linux</h3>
  <div class="btns mt-3">
    <!-- Linux Snap -->
    <a
      class="btn btn-download matomo_download"
      href="/installer/snap"
      data-ignore-navigation
    >
      <img
        class="dark-invert-40 system-icon"
        src={snapLogoImg}
        alt="linux-img"
      />
      <div>
        <p class="bold">Snap</p>
        <p class="small">x64</p>
      </div>
      <img
        class="dark-invert-40 download-icon"
        src={downloadIconImg}
        alt="download-icon"
      />
    </a>
    <!-- Ubuntu -->
    <a
      class="btn btn-download matomo_download"
      href="/installer/deb"
      data-ignore-navigation
    >
      <img
        class="dark-invert-40 system-icon"
        src={debLogoImg}
        alt="ubuntu-img"
      />
      <div>
        <p class="bold">Debian</p>
        <p class="small">deb x64</p>
      </div>
      <img
        class="dark-invert-40 download-icon"
        src={downloadIconImg}
        alt="download-icon"
      />
    </a>

    <!-- Linux AppImage -->
    <a
      class="btn btn-download matomo_download"
      href="/installer/appimage"
      data-ignore-navigation
    >
      <img
        class="dark-invert-40 system-icon"
        src={appimageLogoImg}
        alt="appimage-img"
      />
      <div>
        <p class="bold">AppImage</p>
        <p class="small">x64</p>
      </div>
      <img
        class="dark-invert-40 download-icon"
        src={downloadIconImg}
        alt="download-icon"
      />
    </a>
  </div>
  <h3 class="mt-5">Windows & Mac</h3>

  <div class="btns mt-3">
    <!-- Windows -->
    <a
      class="btn btn-download matomo_download"
      href="/installer/exe"
      data-ignore-navigation
    >
      <img
        class="dark-invert-40 system-icon"
        src={windowsLogoImg}
        alt="win-img"
      />
      <div>
        <p class="bold">Windows</p>
        <p class="small">exe x64</p>
      </div>
      <img
        class="dark-invert-40 download-icon"
        src={downloadIconImg}
        alt="download-icon"
      />
    </a>

    <!-- Mac -->
    <a
      class="btn btn-download matomo_download"
      href="/installer/dmg"
      data-ignore-navigation
    >
      <img
        class="dark-invert-40 system-icon"
        src={appleLogoImg}
        alt="mac-img"
      />
      <div>
        <p class="bold">Mac</p>
        <p class="small">dmg x64</p>
      </div>
      <img
        class="dark-invert-40 download-icon"
        src={downloadIconImg}
        alt="download-icon"
      />
    </a>
  </div>

  <h3 class="h4 mt-5 mb-3">Failed to install?</h3>
  <p>
    The world hasn't come to its end yet.
    <a href="https://t.me/ut_troubleshooting" target="_blank">
      Try our <span class="underline">troubleshooting</span>
    </a>
    channel on Telegram or
    <a
      href="https://docs.ubports.com/en/latest/userguide/install.html#troubleshooting"
      target="_blank"
    >
      read the <span class="underline">troubleshooting documentation</span>
    </a>
    if the problem persists. Finally, you can discuss the problem with our
    <a class="underline" href="http://t.me/WelcomePlus/" target="_blank"
      >support team.</a
    >
    Good luck!
  </p>
</div>
